.Card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: #161f38;
	color: #fff;
	height: auto !important;
	width: 600px !important;
	margin: 200px auto;
}
#image {
	border-radius: 20px;
	display: inline;
	margin-top: 10px;
}

#button {
	background-color: #111827;
	padding: 30px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 30px;
	margin: 20px 0px 20px 0px;
}

.followers{
    font-size: larger;
    font-weight: 700;
}